.table {
  width: 100%;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
  border-collapse: collapse;
  overflow-x: scroll;
}

.table th,
.table td {
  padding: 14px;
  text-align: left;
}

.table tr {
  border-top: 1px rgb(146, 146, 146) solid;
}
.author_img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
/* flex justify-center items-center gap-2.5 */
.table_body_sec td div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

.relation {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.actions button {
  color: white;
  font-weight: 500;
}
.actions button .action_icon {
  width: 24px;
  height: 24px;
}
.author {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding-left: 9px;
}
.left {
  display: flex;
  gap: 3px;
  justify-content: start;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.canter span {
  display: flex;
}
.right {
  display: flex;
  gap: 3px;
  justify-content: end;
}
.name_data {
  display: flex;
  justify-content: start;

  gap: 1px;

  text-align: left;
}
.name_data_child {
  display: flex;
  flex-direction: column;

  text-align: left;
}
.name_data_child :first-child {
  color: white;
  font-weight: 500;
  font-size: 14px;
}
.name_data_child :last-child {
  color: #999999;
  font-weight: 400;
  font-size: 12px;
}
.order_icon {
  /* flex justify-center items-center */
  display: flex;
  justify-content: center;
  align-items: center;
}
