.table {
  width: 100%;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
}

.table tr {
  border-top: 1px rgb(146, 146, 146) solid;
}
.author_img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
/* flex justify-center items-center gap-2.5 */
.table_body_sec td div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.db {
  color: #079455;
  padding: 2px 8px;
  background-color: #1f1f1f;
  border-radius: 30px;
}
.relation {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.relation span {
  color: #079455;
  padding: 2px 8px;
  background-color: #dcfae6;
  border-radius: 30px;
}
.status {
  color: #079455;
  padding: 2px 8px;
  background-color: #dcfae6;
  border-radius: 30px;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.actions button {
  color: white;
  font-weight: 500;
}
.actions button .action_icon {
  width: 24px;
  height: 24px;
}
.author {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
