@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.main_body,
.container {
  background-color: red !important;
}
.main_body .sidebar_menu ul li a.active {
  background: #757575;
  color: #fff;
}

.main_body .sidebar_menu .inner_hamburger,
.main_body .sidebar_menu .hamburger .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_body .sidebar_menu .inner_hamburger {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  background: #3421c0;
}

.main_body .sidebar_menu .hamburger .arrow {
  color: #fff;
  font-size: 20px;
}

.main_body .sidebar_menu .hamburger .fa-long-arrow-alt-right {
  display: none;
}

/* after adding active class */
.wrapper.active .sidebar_menu {
  width: 100px;
  height: 100%;
}
.wrapper.new .sidebar_menu1 {
  width: 40px;
  height: 100%;
}
.wrapper.active .sidebar_menu1 {
  position: fixed;
  left: 100px;
}

.wrapper .sidebar_menu1 {
  position: fixed;
  left: 301px;
  top: 60px;
}

.wrapper.active .main_body .container {
  width: calc(100% - 100px);
  margin-left: 100px;
}

.sidebar_menu {
  height: 100%;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}

/* scrollbar design code  */

/* body scroll bar custom design  */
::-webkit-scrollbar {
  width: 4px !important;
  /* background-color: #00aeff34 !important; */
  background: gray !important;
  border: 0px transparent;
  /* box-shadow: 0px 0px 0px 0px rgb(175, 175, 175); */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #2b3990 0%,
    #1c75bc 25%,
    #27aae1 50%,
    #00a79d 75%,
    #00a79d 100%
  ) !important;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: red !important; */
  width: 4px !important;
  transform: scale(1.2) !important;
}

/* border design  */

.borderss:after {
  position: absolute;
  content: "";
  top: -9px;
  right: 30px;
  border-left: 8px solid transparent !important;
  border-top: 1px solid transparent !important;
  border-bottom: 8px solid #6b6b6b2a !important;
  border-right: 8px solid transparent !important;
}
